<!DOCTYPE html>
<html>
<head>

	<style>
	table th,
	table td {
		border: 1px solid black;
		padding: 10px;
	}
	</style>
</head>
<body>

<h2>Active monitor alert!</h2>

<table>
	<tbody>
	<tr>
		<th>Hostname</th>
		<td>{$hostname}</td>
	</tr>
	<tr>
		<th>Report type</th>
		<td>{$reportType}</td>
	</tr>
	<tr>
		<th>Report strategy</th>
		<td>{$reportStrategy}</td>
	</tr>
	</tbody>
</table>

<table>
	<thead>
	<tr>
		<th>Event</th>
		<th>Status</th>
		<th>Message</th>
		<th>Changed at</th>
	</tr>
	</thead>
	<tbody>
	<tr n:foreach="$events as $event">
		<td>{$event->name}</td>
		<td>{$event->status}</td>
		<td>{$event->message}</td>
		<td>{$event->lastChange->toCzechDatetime()}</td>
	</tr>
	</tbody>
</table>
</body>
</html>